@import "globals";

.inputs-div__input {
    border: 1px solid $grey;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 300px;
    &:last-child {
        margin-bottom: 0;
    }
}
.error {
    border-color: $red;
}
.correct {
    border-color: $blue;
}


